/*
.custom-navbar {
  background-color: transparent !important;
  box-shadow: none !important;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 10;
}

.nav-link {
  color: white !important; /* Change to black if your background is light 
  font-weight: 500;
  font-size: 1rem;
}

.nav-link:hover {
  text-decoration: underline;
}
*/